#
#
#   PatentsView-APIWrapper Configuration File
#   American Institutes for Research
# 
# 
#   See the accompanying README.md file for instructions 
#   to modify this configuration file
# 
# with date constraints 


# search patents 
[QUERY_cfg4]
entity = "patents"
input_file = "inv_last_name.txt"
directory = "/Users/npatel/Documents/PatentsView/PatentsView-APIWrapper"
input_type = "inventor_last_name"
fields = ["patent_number", "inventor_first_name", "inventor_last_name"]
criteria1 = {"_gte":{"patent_date":"2004-01-05"}}
sort = [{"patent_number":"asc"}]
