#
#
#   PatentsView-APIWrapper Configuration File
#   American Institutes for Research
# 
# 
#   See the accompanying README.md file for instructions 
#   to modify this configuration file
# 
# with date constraints 


[QUERY_cfg1]
entity = "patents"
input_file = "assignees_name.txt"
directory = "/Users/npatel/Documents/PatentsView/PatentsView-APIWrapper"
input_type = "assignee_organization"
fields = ["patent_number", "patent_title","cpc_subgroup_id"]
criteria1 = {"_gte":{"patent_date":"2006-01-01"}}
criteria2 = {"_lte":{"patent_date":"2016-12-31"}}
sort = [{"patent_number":"asc"}]







