#
#
#   PatentsView-APIWrapper Configuration File
#   American Institutes for Research
# 
# 
#   See the accompanying README.md file for instructions 
#   to modify this configuration file
# 
# 

[QUERY_cfg7]
entity = "assignees"
input_file = "patents.txt"
directory = "/Users/npatel/Documents/PatentsView/PatentsView-APIWrapper"
input_type = "patent_id"
fields = ["assignee_id","assignee_organization", "assignee_total_num_patents"]
sort = [{"assignee_id":"asc"}]




