#
#
#   PatentsView-APIWrapper Configuration File
#   American Institutes for Research
# 
# 
#   See the accompanying README.md file for instructions 
#   to modify this configuration file
# 
# 

[QUERY_cfg6]
entity = "uspc_mainclasses"
input_file = "assignee_name3.txt"
directory = "/Users/npatel/Documents/PatentsView/PatentsView-APIWrapper"
input_type = "assignee_organization"
fields = ["uspc_mainclass_id","patent_id"]
criteria1 = {"_gte":{"patent_date":"2008-01-01"}}
criteria2 = {"_lte":{"patent_date":"2017-12-31"}}
#sort = [{"patent_number":"asc"}]
