#
#
#   PatentsView-APIWrapper Configuration File
#   American Institutes for Research
# 
# 
#   See the accompanying README.md file for instructions 
#   to modify this configuration file
# 
# without date constraints 


[QUERY_cfg2]
entity = "patents"
input_file = "assignees_name.txt"
directory = "/Users/npatel/Documents/PatentsView/PatentsView-APIWrapper"
input_type = "assignee_organization"
fields = ["patent_number", "patent_title", "cpc_subgroup_id" ]
sort = [{"patent_number":"asc"}]


