#
#
#   PatentsView-APIWrapper Configuration File
#   American Institutes for Research
# 
# 
#   See the accompanying README.md file for instructions 
#   to modify this configuration file
# 
# 68,326 patents - assignee canon kabushiki kaisha
# http://www.patentsview.org/web/#detail/assignee/6c00cb129070696ef109f6264da003#18

[QUERY_cfg5]
entity = "patents"
input_file = "assignee_name2.txt"
directory = "/Users/npatel/Documents/PatentsView/PatentsView-APIWrapper"
input_type = "assignee_organization"
fields = ["patent_number"]
sort = [{"patent_number":"asc"}]

