#
#   PatentsView-APIWrapper Configuration File
#   American Institutes for Research
# 
# 
#   See the accompanying README.md file for instructions 
#   to modify this configuration file
# 
# http://www.patentsview.org/api/nber_subcategories/
# query?q={"year_id":["1991","2001","2011"]}&f=["nber_subcategory_id","nber_subcategory_title"]&o={"matched_subentities_only":  
# "true", "page": 2, "per_page": 50, "include_subentity_total_counts": "false"}
# 

[QUERY_cfg10]
entity = "nber_subcategories"
input_file = "year_id.txt"
directory = "/Users/npatel/Documents/PatentsView/PatentsView-APIWrapper"
input_type = "year_id"
fields = ["nber_subcategory_id","nber_subcategory_title"]
